{% macro pnr_details_table(pnr_status_result) %}
<table class="table table-bordered table-striped table-hover">
    <thead>
    <tr>
        <th>PNR Number</th>
        <th>{{ pnr_status_result.pnr }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>From Station</td>
        <td>{{ pnr_status_result.from }}</td>
    </tr>
    <tr>
        <td>To Station</td>
        <td>{{ pnr_status_result.to }}</td>
    </tr>
    <tr>
        <td>Class of Travel</td>
        <td>{{ pnr_status_result.class }}</td>
    </tr>
    <tr>
        <td>Train Number</td>
        <td>
            <a href="{{ url_for('.train_schedule_static', train_number=pnr_status_result.train_number) }}">
                {{ pnr_status_result.train_number }}
            </a>
        </td>
    </tr>
    <tr>
        <td>Train Name</td>
        <td>{{ pnr_status_result.train_name.title() }}</td>
    </tr>
    <tr>
        <td>Boarding Date</td>
        <td>{{ pnr_status_result.boarding_date.strftime('%Y-%m-%d') }}</td>
    </tr>
    <tr>
        <td>Boarding Point</td>
        <td>{{ pnr_status_result.boarding_point }}</td>
    </tr>
    <tr>
        <td>Reservation up to</td>
        <td>{{ pnr_status_result.reserved_upto }}</td>
    </tr>
    <tr>
        <td>Charting Status</td>
        <td>{{ pnr_status_result.charting_status }}</td>
    </tr>
    </tbody>
</table>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Passenger Number</th>
        <th>Booking Status</th>
        <th>Current Status</th>
    </tr>
    </thead>
    <tbody>
    {% for passenger in pnr_status_result.passenger_status %}
        <tr>
            <td>passenger {{ loop.index }}</td>
            <td>{{ passenger.booking_status }}</td>
            <td>{{ passenger.current_status }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endmacro  %}