{% extends "layout.html" %}
{% block metas %}
    {{ super() }}
    {% if seo_train_name %}
        <meta content="Check PNR status of rail tickets booked in {{ seo_train_name }}
        Get instant indian railway train pnr status enquiry online at pnr.me" name="description">
    {% else %}
        <meta content="Check PNR status of all rail tickets booked with Indian Railways/IRCTC.
        Get instant indian railway train pnr status enquiry online at pnr.me. Enter 10 digit pnr" name="description">
    {% endif %}
{% endblock %}
{% block title %}
    Check PNR Status - Get Indian Railways/IRCTC PNR Status
{% endblock %}
{% block content %}
    <div class="container">
        <h2>
            Check PNR Status
        </h2>
        {% if status_form %}
                {{ wtf.quick_form(status_form, button_map={'submit_button': 'primary'}) }}

        {% endif %}

        {% if pnr_status_result %}
            <h2>
                Current PNR Status Result
            </h2>
            {% if pnr_status_result.error %}
                <h3 class="text-danger">{{ pnr_status_result.error }}</h3>
            {% elif pnr_status_result.status == "Success" %}
                {{ macros.pnr_details_table(pnr_status_result) }}
            {% endif %}
        {% endif %}
    </div>
{% endblock %}